<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LMS Django</title>
  </head>
    <br>
   <br>
    <div>
        <form  method="post">

    			<center><h2>ADD BOOK IN LIBRARY</h2></center>

		{% csrf_token %}

            {% for field in form %}
            <div >
              <label>{{ field.label_tag }}</label>
              <div>
              {{ field }}
               </div>
            </div>
            {% endfor %}


    		<div>
    			<div >
            <button type="submit">ADD</button>
            <br>
            <br>
            <div>View Available Book In Library<a href="/" role="button" aria-pressed="true">Click here</a></div>
          </div>
    			</div>
    		</div>
        </form>
    	
  </body>
</html>
