<!-- <div class="container">
    <form method="POST"> {% csrf_token %}
            
        Book Name : <input type="text" class="form-control mt-2" name="name" placeholder="Enter name of the Book" required>
   
            <input type="text"  name="author" placeholder="Enter name of the Author" required>
        
            <input type="text" name="category" placeholder="Enter Category of the book" required>

    <button type="submit" class="btn btn-outline-primary mt-4">Add Book</button>
</form>
</div> -->