<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LMS Django</title>
  </head>
    <br>
   <br>
    <div>
        <form  method="post">

    			<center><h2>DELETE LIBRARY</h2></center>
            {% csrf_token%}
            <button type="submit">Delete</button>
            <br>
            <br>
            <div>View Available Book In Library<a href="/" role="button" aria-pressed="true">Click here</a></div>
          </div>
    			</div>
    		</div>
        </form>
    	
  </body>
</html>
